.container{
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--Grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header{
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--Grey-light-2);

  display: flex;
  justify-content: space-between; //divide the space between 3 elements
  align-items: center;
}

.content{
  display: flex;
}

.sidebar{
  background-color: var(--Grey-dark-1);

  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between; ///divides white space between the element
}

.hotel-view{
  height: 80rem;

  // grow as much as it can occupying the remaining percent
  flex: 1;

}
